<body background="https://matriculaweb.unb.br/matriculaweb/imagens/fundo_main.gif">
<font face="Arial"><table STYLE="border: 1px solid #E7E7E7" cellpadding="5" cellspacing="0"></font>
<style> body { margin: 5% 35% 100px 35%; } </style>
<%= form_for(@aluno) do |f| %>
  <% if @aluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
      <% @aluno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<body style="background-color: white;">
  <div class="field">
    <font color="black"><%= f.label :nome %><br></font>
    <%= f.text_field :nome, :size=>"50", placeholder: "Digite seu nome", :maxlength=>"50"   %>
  </div>
  <div class="field">
    <font color="black"><%= f.label :matrícula %><br></font>

    <%= f.text_field :matricula, :size=>"11", placeholder: "Digite sua matrícula", :maxlength=>"9"  %>

  </div>
  <div class="field">
    <font color="black"><%= f.label :semestre %><br></font>
    <%= f.number_field :semestre, placeholder: "Digite seu semestre", min:1, max:10 %>
  </div>
  <div class="field">
    <font color="black"><%= f.label :IRA, "IRA" %><br></font>
    <%= f.number_field :IRA, placeholder:"5.00", min: 0.00, max: 5.00, :step => 0.0001, :maxlength=>"3" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </body>
<% end %>
