<%= form_for(@aluno) do |f| %>
  <% if @aluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
      <% @aluno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<body style="background-color: lightblue;">
  <div class="field">
    <font color="red"><%= f.label :nome %><br></font>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <font color="red"><%= f.label :matricula %><br></font>
    <%= f.number_field :matricula,min:0 %> 
  </div>
  <div class="field">
    <font color="red"><%= f.label :semestre %><br></font>
    <%= f.number_field :semestre,min:1 %>
  </div>
  <div class="field">
    <font color="red"><%= f.label :IRA %><br></font>
    <%= f.number_field :IRA, min: 0, max: 5.0, :step => 'any' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </body>
<% end %>
