<%= form_for(@aluno) do |f| %>
  <% if @aluno.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@aluno.errors.count, "erro(s)") %> encontrado(s):</h2>
      <ul>
      <% @aluno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<body>
  <div class="login">
    <div class="container">
      <div class="form">
  <div class="field">
    <font><%= f.label :nome %><br></font>
    <%= f.text_field :nome, :size=>"50", placeholder: "Digite seu nome", :maxlength=>"50"   %>
  </div>
  <div class="field">
    <font><%= f.label :matrícula %><br></font>

    <%= f.text_field :matricula, :size=>"11", placeholder: "Digite sua matrícula", :maxlength=>"9"  %>

  </div>

  <div class="field">
    <font><%= f.label :semestre %><br></font>
    <%= f.number_field :semestre, placeholder: "Digite seu semestre", min:1, max:10 %>
  </div>
  <div class="field">
    <font><%= f.label :IRA, "IRA" %><br></font>
    <%= f.number_field :IRA, placeholder:"5.00", min: 0.00, max: 5.00, :step => 0.0001, :maxlength=>"3" %>
  </div>

  <div class="actions">
    <%= f.submit "Criar novo aluno", class: "btn-submit"%>
  </div>
  </div>
  </div>
  </div>

  </body>
<%end%>
