<h1>Dicentes</h1>
<p id="notice"><%= notice %></p>
<head>
</head>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matrícula</th>
      <th>Semestre</th>
      <th>IRA</th>

    </tr>
  </thead>

  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td><%= aluno.nome %></td>
        <td><%= formata_matricula(aluno.matricula) %></td>
        <td><%= formata_semestre(aluno.semestre) %></td>
        <td><%= aluno.Candidatura %></td>
        <td><%= aluno.IRA %></td>
        <td><%= aluno.TurmasCandidatar %></td>
        <td><%= link_to image_tag("show.png"), aluno %></td>
        <td><%= link_to image_tag("edit.png"), edit_aluno_path(aluno) %></td>
        <td><%= link_to image_tag("delete.png"), aluno, method: :delete, data: { confirm: "Você tem certeza que deseja excluir o dicente #{aluno.nome}?" } %></td>
	<td><%=link_to 'Campus',disciplinas_showCampus_path %> </td>
	</tr>
    <% end %>
  </tbody>
</table>
</body>
<br>

<%= link_to image_tag("new.png"), new_aluno_path %>
