<h1>Lista de candidatura</h1>
<table>
<tr bgcolor="6B9A8C">
  <th >Aluno</th>
  <th>Avaliação</th>
  <th>Disciplina</th>
  <th>Menção na Disciplina</th>
  <th>Turma</th>

</tr>
<% @aluno.each do|aluno| %>

    <% candidato = aluno.candidatos %>
    <% candidato.each do|candidato| %>

        <% turma = candidato.turmas %>
        <% turma.each do|turma| %>

        <% disciplina = Disciplina.find(turma.disciplina_id)%>

                <tr>
                  <td><%= aluno.nome %></td>
                  <% if candidato.avaliacao == 0%>
                  <td><%= "INDEFERIDA"%></td>
                  <% elsif candidato.avaliacao == 1%>
                  <td><%= "VOLUNTARIO"%></td>
                  <% elsif candidato.avaliacao == 2%>
                  <td><%= "REMUNERADO"%></td>
                  <%else%>
                  <td><%= "AMBAS"%></td>
                  <%end%>
                  <td><%= disciplina.nome %></td>
                  <td><%= candidato.mencao %></td>
                  <td><%= turma.nome %></td>

                  <td><%= link_to image_tag("delete.png"), candidato, method: :delete, data: { confirm: "Você tem certeza que deseja excluir sua candidatura na turma #{turma.nome} de #{disciplina.nome}" } %></td>

                </tr>

        <% end %>
    <% end %>
<% end %>
</table>
</body>
