<p id="notice"><%= notice %></p>
<body style="background-color: white;">
<p>
  <font color="black"><strong>Nome:</strong></font>
  <font color="black"><%= @aluno.nome %></font>
</p>

<p>
  <font color="black"><strong>Matrícula:</strong></font>
  <font color="black"><%= @aluno.matricula %></font>
</p>

<p>
  <font color="black"><strong>Semestre:</strong></font>
  <font color="black"><%= @aluno.semestre %></font>
</p>

<p>
  <font color="black"><strong>IRA:</strong></font>
  <font color="black"><%= @aluno.IRA %></font>
</p>
</body>
<%= link_to image_tag("edit.png"), edit_aluno_path(@aluno) %> |
<%= link_to image_tag("back.png"), alunos_path %>
