<h1>Lista de candidatura</h1>
<table class="table_candidatos">
<tr>
  <th> Aluno </th>
  <th> Avaliação </th>
  <th> Disciplina </th>
  <th> Menção na Disciplina </th>
  <th> IRA </th>
  <th> Turma </th>

</tr>

<% candidato = @turma.candidatos %>
<% candidato.joins(:aluno).merge(Aluno.order(ira: :desc)).order(mencao: :desc).each do|candidato| %>
<% aluno = Aluno.find(candidato.aluno_id)%>
<% disciplina = Disciplina.find(@turma.disciplina_id)%>

      <tr>
        <td><%=link_to aluno.nome, edit_candidato_path(candidato) %></td>
        <% if candidato.avaliacao == 0%>
        <td class="indeferido"><%="INDEFERIDA"%></td>
        <% elsif candidato.avaliacao == 1%>
        <td class="voluntario"><%="VOLUNTARIO"%></td>
        <% elsif candidato.avaliacao == 2%>
        <td class="remurado"><%="REMUNERADO"%></td>
        <%else%>
        <td class="ambas"><%="AMBAS"%></td>
        <%end%>
        <td><%= disciplina.nome %></td>
        <td><%= candidato.mencao %></td>
        <td><%= aluno.IRA %></td>
        <td><%= @turma.nome %></td>

      </tr>
<% end %>

</table>
</body>

<br/><%=link_to "Listar por menção/IRA", controller: "docentes", action: "listar", id: @turma.id%></li>
