<h1>Lista de candidatura</h1>
<table>
<tr>
  <th align="center">Aluno</th>
  <th align="center">Avaliação</th>
  <th align="center">Disciplina</th>
  <th align="center">Menção na Disciplina</th>
  <th align="center">IRA</th>
  <th align="center">Turma</th>

</tr>

<% candidato = @turma.candidatos %>
<% candidato.joins(:aluno).merge(Aluno.order(ira: :desc)).order(mencao: :desc).each do|candidato| %>
<% aluno = Aluno.find(candidato.aluno_id)%>
<% disciplina = Disciplina.find(@turma.disciplina_id)%>

      <tr>
        <td align="center"><%=link_to aluno.nome, edit_candidato_path(candidato) %></td>
        <% if candidato.avaliacao == 0%>
        <td align="center"><%= "INDEFERIDA"%></td>
        <% elsif candidato.avaliacao == 1%>
        <td align="center"><%= "VOLUNTARIO"%></td>
        <% elsif candidato.avaliacao == 2%>
        <td align="center"><%= "REMUNERADO"%></td>
        <%else%>
        <td align="center"><%= "AMBAS"%></td>
        <%end%>
        <td align="center"><%= disciplina.nome %></td>
        <td align="center"><%= candidato.mencao %></td>
        <td align="center"><%= aluno.IRA %></td>
        <td align="center"><%= @turma.nome %></td>

      </tr>
<% end %>

</table>
</body>

<br/><%=link_to "Listar por menção/IRA", controller: "docentes", action: "listar", id: @turma.id%></li>
