<body background="https://matriculaweb.unb.br/matriculaweb/imagens/fundo_main.gif"> 
 <!-- <font face="Arial"><table STYLE="border: 1px solid #E7E7E7" cellpadding="5" cellspacing="0"></font>--> <!--Essa linha esta dando o bug. Nao sei porque -->
<style> body { margin: 5% 35% 100px 35%; } </style>
<%= form_for(@professor) do |f| %>
  <% if @professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
      <% @professor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :matricula %><br>
    <%= f.text_field :matricula %>
  </div>
   <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
   <div class="field">
    <%= f.label  :senha%><br>
    <%= f.password_field :senha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
