<%= form_for(@professor) do |f| %>
  <% if @professor.errors.any? %>
    <div id="error_explanation">
      <h1><%= pluralize(@professor.errors.count, "erro(s)") %> encontrado(s):</h1>

      <ul>
      <% @professor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="login">
    <div class="container">
      <div class="form">

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :matricula %><br>
    <%= f.text_field :matricula %>
  </div>
   <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
   <div class="field">
    <%= f.label  :senha%><br>
    <%= f.password_field :senha %>
  </div>
  <div class="actions">
    <%= f.submit "Criar novo professor", class: "btn-submit"%>
  </div>
  </div>
  </div>
  </div>
<% end %>
