<p id="notice"><%= notice %></p>

<h1>Listar Professores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matricula</th>
      <th>Email</th>
      <th colspan="3" hidden="hidden"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.nome %></td>
        <td><%= professor.matricula %></td>
        <td><%= professor.email %></td>
        <td><%= link_to image_tag("show.png"), professor %></td>
        <td><%= link_to image_tag("edit.png"), edit_professor_path(professor) %></td>
      <td><%= link_to image_tag("delete.png"), professor, method: :delete, data: { confirm: "Você tem certeza que deseja excluir o docente #{professor.nome}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to image_tag("new.png"), new_professor_path %>

<table>
<tr>
  <th align="center">Aluno</th>
  <th align="center">Avaliação</th>
  <th align="center">Disciplina</th>
  <th align="center">Menção na Disciplina</th>
  <th align="center">Turma</th>

</tr>
<%@aluno =  Aluno.all%>
<% @aluno.each do|aluno| %>

    <% candidato = aluno.candidatos %>
    <% candidato.each do|candidato| %>

        <% turma = candidato.turmas %>
        <% turma.each do|turma| %>

        <% disciplina = Disciplina.find(turma.disciplina_id)%>

                <tr>
                  <td align="center"><%=link_to aluno.nome, edit_candidato_path(candidato) %></td>
                  <% if candidato.avaliacao == 0%>
                  <td align="center"><%= "INDEFERIDA"%></td>
                  <% elsif candidato.avaliacao == 1%>
                  <td align="center"><%= "VOLUNTARIO"%></td>
                  <% elsif candidato.avaliacao == 2%>
                  <td align="center"><%= "REMUNERADO"%></td>
                  <%else%>
                  <td align="center"><%= "AMBAS"%></td>
                  <%end%>
                  <td align="center"><%= disciplina.nome %></td>
                  <td align="center"><%= candidato.mencao %></td>
                  <td align="center"><%= turma.nome %></td>

                  <td><%= link_to image_tag("delete.png"), candidato, method: :delete, data: { confirm: "Você tem certeza que deseja excluir sua candidatura na turma #{turma.nome} de #{disciplina.nome}" } %></td>

                </tr>

        <% end %>
    <% end %>
<% end %>
</table>
</body>


