<body background="https://matriculaweb.unb.br/matriculaweb/imagens/fundo_main.gif">
<font face="Arial"><table STYLE="border: 1px solid #E7E7E7" cellpadding="5" cellspacing="0"></font>
<style> body { margin: 5% 35% 100px 35%; } </style>
<p id="notice"><%= notice %></p>

<h1>Listar Professores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matricula</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.nome %></td>
        <td><%= professor.matricula %></td>
        <td><%= professor.email %></td>
        <td><%= link_to image_tag("show.png"), professor %></td>
        <td><%= link_to image_tag("edit.png"), edit_professor_path(professor) %></td>
        <td><%= link_to image_tag("delete.png"), professor, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

#<%= link_to 'Novo Professor', new_professor_path %>
