<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @professor.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @professor.matricula %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>
<%= link_to image_tag("edit.png"), edit_professor_path(@professor) %> |
<%= link_to image_tag("back.png"), professors_path %>
