<body background="https://matriculaweb.unb.br/matriculaweb/imagens/fundo_main.gif">
  <font face="Arial"><table STYLE="border: 1px solid #E7E7E7" cellpadding="5" cellspacing="0"></font>
<style> body { margin: 5% 35% 100px 35%; } </style>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @professor.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @professor.matricula %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>
<%= link_to image_tag("edit.png"), edit_professor_path(@professor) %> |
<%= link_to image_tag("back.png"), professors_path %>
