<%= form_for @dicente do |f| %>
              <% if @dicente.errors.any? %>
              <div class="form">
              <div id="error_explanation">
                          <div class="alert-error">
                                     O formulário contém <%= pluralize(@dicente.errors.count, "erro") %>.
                          </div>
                          <ul>
                                     <% @dicente.errors.full_messages.each do |msg| %>
                                     <li><%= msg %></li>
                                     <% end %>
                          </ul>
              </div>
  <% end %>
<div class="login">
<div class="container">
<div class="form">
              <div class="field">
			                   <%= f.label :nome %>
                        <%= f.text_field :name %>

		          </div>
              <div class="field">
                          <%= f.label :email %>
                          <%= f.email_field :email %>
              </div>
            <div class="field">
                          <%= f.label :matricula %>
                          <%= f.text_field :matricula %>
              </div>
            <div class="field">
                          <%= f.label :semestre %>
                          <%= f.text_field :semestre %>
              </div>
            <div class="field">
                          <%= f.label :IRA %>
                          <%= f.text_field :ira %>
              </div>
              <div class="field">
                          <%= f.label :senha %>
                          <%= f.password_field :password %>
              </div>
              <div class="field">
                          <%= f.label :confirmação_de_senha %>
                          <%= f.password_field :password_confirmation %>
              </div>
              <div class="actions">
                          <%= f.submit "Cadastrar", class: "btn-submit"%>
              </div>
              </div>
            </div>
            </div>
            </div>
  <% end %>
