 <table>
    <thead>
      <tr>
        <th>Name</th>
        <!-- <th>Email</th> -->
        <th>Matricula</th>
        <!-- <th>Semestre</th> -->
        <!-- <th>IRA</th> -->
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @dicentes.each do |dicente| %>
        <tr>
          <td><%= dicente.name %></td>
          <!-- <td><%= dicente.email %></td> -->
          <td><%= formata_matricula(dicente.matricula) %></td>
          <!-- <td><%= formata_semestre(dicente.semestre) %></td> -->
          <!-- <td><%= dicente.ira %></td> -->
          <td><%= link_to "Detalhar", dicente %></td>
        </tr>
     <%end%>
   </tbody>
</table>
