<h1><center>Departamento de Ciencia da Computacao</center></h1>
<% disciplina = Disciplina.all %>
<table>
<tr>

	<th>Codigo</td>
	<th>&nbsp;</td>
	<th>Nome da Disciplina</td>
	<th>&nbsp;</td>
	<th>Codigo do Departamento</td>
	<th>&nbsp;</td>
	<th>Creditos</td>
	<th>&nbsp;</td>
	<th>Link</td>
</tr>
<% disciplina.each do|disciplina| %>
<tr>
<td><%= disciplina.codigo %></td>
<td>&nbsp&nbsp&nbsp&nbsp</td>
<td><%= disciplina.nome %></td> 
<td>&nbsp&nbsp&nbsp&nbsp</td>
<td><%= disciplina.departamento %></td>
<td>&nbsp&nbsp&nbsp&nbsp</td>
<td><%= disciplina.creditos %></td>
<td>&nbsp;</td>
<td><%= link_to 'Turmas',disciplina_path(disciplina.turmas)%></td>
</tr>
<% end %>
</table>
