<h1>Horários e Turmas</h1>

<font face="Arial"><table></font>

<tr>
	<table STYLE="border: 1px solid #E7E7E7" cellpadding="5" cellspacing="0">

	<tr bgcolor="E7F3D6" >
		<th>	Turma: <%= @turma.nome%></td>
		</tr>
	<tr bgcolor="6B9A8C" >
		<th>Horarios & Local</td>
	</tr>
	<% horario = @turma.horarios %>
	<% horario.each do|horario| %>
	<% if horario.id % 2 == 0 %>
		<tr bgcolor="E7F3D6" > <%#branco%>
	<% else %>
		<tr bgcolor="FFF7F7" > <%#verde%>
	<% end %>
	<td><%= horario.nome %></td>
	</tr>
	<% end %>

	<tr bgcolor="6B9A8C">
		<th>Professores</td>
	</tr>
	<% docente = @turma.docentes%>
	<% docente.each do|docente| %>
	<% if docente.id % 2 == 0 %>
		<tr bgcolor="E7F3D6" >
	<% else %>
		<tr bgcolor="FFF7F7" >
	<% end %>
	<td><%= docente.nome %></td>
	</tr>
	<% end %>
	</table>
		</tr>

</table>
</body>

<%= form_for(Candidato.new) do |f| %>

<div>
	<font color="red"><%= f.label :mencao %><br></font>
	<% if @aluno != nil %>
		<%= f.text_field :mencao, placeholder: @candidato.mencao  %>
	<%else %>
		<%= f.text_field :mencao  %>
	<%end%>
</div>

<div>
	<font color="red"><%= f.label :avaliacao, "Digite a sua opcao de Inscrição (1-Voluntária,2-Remunerada,3 -Ambas)" %><br></font>
	<%if @aluno != nil%>
		<%= f.number_field :avaliacao, placeholder: @candidato.avaliacao%>
	<%else%>
		<%= f.number_field :avaliacao, placeholder: 1%>
	<%end%>
</div>



	<div class="actions">
		<%= f.hidden_field :aluno_id, value: Aluno.where(user_id: current_user.id).first.id%>
		<%= f.hidden_field :turma_id, :value => @turma.id, :index => @turma.id, :name => :turma_id %>
		<%= f.submit "candidatar"%>
		<!-- , :style => "display: none;" %> -->
		<%= link_to 'voltar', action: 'showTurmas', id: @turma.disciplina_id %>

  </div>
<% end %>
