<header>
	<nav>
      <ul class="nav-bar">
				<%if user_signed_in?%>
					<li><%=link_to "Campus",disciplinas_showCampus_path %></li>

					<% se = User.where("email like ? and id = ?",'%@aluno.unb.br', current_user.id).count %>

					<% if se == 1 %>
					<li><%= link_to "Perfil", alunos_path %></li>
					<li><%=link_to "Lista", controller: "alunos", action: "listar"%></li>
					<%else%>
					<li><%= link_to "Perfil", docentes_path %></li>
					<li><%=link_to "Lista", controller: "docentes", action: "listar"%></li>
					<% end %>


					<li><%= link_to "Informações", info_page_index_path %></li>
			 		<li><%=link_to "Sair", destroy_user_session_path, method: "delete" %> </li>
			  <%else%>
					<li><%=link_to "Pagina Inicial",root_path %></li>
					<li><%= link_to "Informações", info_page_index_path %></li>

					<li><%= link_to 'Entrar', new_user_session_path, method: :get %></li>

			<%end%>



      </ul>
  </nav>
</header>
