  <%= form_for(@candidato) do |f| %>

<div>
  <% if @aluno != nil %>
  <font color="red"><%= f.label :mencao %><br></font>
    <%= f.text_field :mencao, placeholder: @candidato.mencao  %>
    <%end%>
</div>

<div>
  <%if @aluno != nil%>
  <font color="red"><%= f.label :avaliacao, "Digite a sua opcao de Inscrição (0-Indeferir,1-Voluntária,2-Remunerada)" %><br></font>
    <%= f.number_field :avaliacao, placeholder: @candidato.avaliacao, min: 0.0, max: 3.0, :step => 1, :maxlength=>"1"%>
  <%else%>
  <font color="red"><%= f.label :avaliacao, "Escolha a opção de avaliação para o candidato (0-Indeferir,1-Voluntária,2-Remunerada)" %><br></font>
    <%= f.number_field :avaliacao, placeholder: 1, min: 0.0, max: 3.0, :step => 1, :maxlength=>"1"%>
  <%end%>

</div>



  <div class="actions">

    <%= f.submit :Submeter%>

  </div>
<%end%>
